<%= link_to post, class: "list-group-item" do %>
  <span class="image" style="background-image: url(<%= main_app.url_for(post.hero_image.url(:hero)) rescue '' %>)"></span>
  <%#= image_tag main_app.url_for(post.hero_image.url(:post)) rescue '' %>
  <h2><%= post.title %></h2>
<% end %>
