<% content_for :sidebar do %>
  <%= render partial: 'blog_sidebar' %>
<% end %>

<h1><%= Spree.t(:featured_blog_posts) %></h1>
<% if @featured_posts.blank? %>
  <p><%= Spree.t(:no_blog_posts) %></p>
<% else %>
  <div class="featured-posts list-group">
    <% @featured_posts.each do |post| %>
    <article class="panel">
      <%= render partial: 'posts_list', locals: { post: post } %>
    </article>
    <% end %>
  </div>
<% end %>
